@font-face {font-family:"NissanAGLight"; src:url("../fonts/nissanaglig_ttf-webfont.eot"); src:url("../fonts/nissanaglig_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanaglig_ttf-webfont.woff") format("woff"), url("../fonts/nissanaglig_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanaglig_ttf-webfont.svg#nissan_aglight") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"NissanAGRegular"; src:url("../fonts/nissanagreg_ttf-webfont.eot"); src:url("../fonts/nissanagreg_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanagreg_ttf-webfont.woff") format("woff"), url("../fonts/nissanagreg_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanagreg_ttf-webfont.svg#nissan_agregular") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"NissanAGBold"; src:url("../fonts/nissanagbol_ttf-webfont.eot"); src:url("../fonts/nissanagbol_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanagbol_ttf-webfont.woff") format("woff"), url("../fonts/nissanagbol_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanagbol_ttf-webfont.svg#nissan_agbold") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"NissanAGMedium"; src:url("../fonts/nissanagmed_ttf-webfont.eot"); src:url("../fonts/nissanagmed_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanagmed_ttf-webfont.woff") format("woff"), url("../fonts/nissanagmed_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanagmed_ttf-webfont.svg#nissan_agmedium") format("svg"); font-weight:normal; font-style:normal}

html {height:100%}

body {height:100%; min-width:800px; margin:0; padding:0; font:26px/40px NissanAGRegular, verdana, geneva, sans-serif; color:#000; background:#fff}

a {outline:none; color:#999}
a:hover {color:#ce2541; text-decoration:none}

img {border:none}

.wrapper {padding:0 70px; min-width:800px; min-height:100%; background:url(../images/bg.png) no-repeat center; background-size:cover}
.wrapper-inner {padding:0 0 70px 0}

@media (max-width:1200px) {
    .wrapper {padding:0 15px}
    .wrapper-inner {padding:0}
}

.title {text-align:center; font-size:28px; font-family:NissanAGBold, verdana, geneva, sans-serif; text-transform:uppercase; padding:20px 0 0 0}
.text {text-align:center; padding:20px 0 0 0}

@media (max-width:800px) {
    .title {display:none}
    .text {display:none}
}

header {text-align:center; padding:60px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.logo {display:inline-block; vertical-align:middle; width:158px; height:158px; position:relative; border-radius:79px}
.logo span {display:block; position:absolute; left:0; top:0; width:158px; height:158px; background:url(../images/logo-bg.png)}
.logo div {position:absolute; left:50%; top:50%; width:90px; height:90px; margin:-45px 0 0 -45px; background:url(../images/logo.png)}
.logo:hover span {animation:logo-anim 20s infinite linear}

@keyframes logo-anim {0%{transform:rotate(0deg)}100%{transform:rotate(-360deg)}}

.header-title {display:inline-block; vertical-align:middle; font-size:30px; line-height:30px; letter-spacing:0; margin:0 45px 0 0}
.header-user {display:inline-block; vertical-align:middle; font-size:30px; line-height:30px; letter-spacing:0; margin:0 0 0 45px}
.header-user a {color:#000; text-decoration:none; position:relative; background:url(../images/header-user.png) repeat-x left bottom}
.header-user a span {display:none; position:absolute; left:50%; margin-left:-85px; top:-55px; width:170px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.header-user a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.header-user a:hover {color:#ce2541; background:url(../images/header-user-hover.png) repeat-x left bottom}
.header-user a:hover span {display:block}
.header-logout {display:inline-block; vertical-align:middle; border-left:1px solid #000; margin:0 0 0 19px; padding:15px 0 0 19px; height:35px}
.header-logout a {display:block; width:27px; height:23px; position:relative; background:url(../images/header-logout.png)}
.header-logout a:hover {background-position:left -23px}
.header-logout a span {display:none; position:absolute; left:50%; margin-left:-60px; top:-58px; width:120px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.header-logout a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.header-logout a:hover span {display:block}
.header-gallery {display:inline-block; vertical-align:middle; font-size:30px; line-height:30px; letter-spacing:0; margin:0 45px 0 0}
.header-gallery a {color:#000; text-decoration:none; position:relative; background:url(../images/header-user.png) repeat-x left bottom}
.header-gallery a span {display:none; position:absolute; left:50%; margin-left:-105px; top:-55px; width:200px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.header-gallery a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.header-gallery a:hover {color:#ce2541; background:url(../images/header-user-hover.png) repeat-x left bottom}
.header-gallery a:hover span {display:block}

@media (max-width:800px) {
    header {padding:40px 0 0 0}
    .logo {width:100px; height:100px; border-radius:50px}
    .logo span {width:100px; height:100px; background:url(../images/logo-bg-mobile.png)}
    .logo div {width:60px; height:60px; margin:-30px 0 0 -30px; background:url(../images/logo-mobile.png)}
    .header-title {display:none}
    .header-gallery {display:none}
}

.login-title {text-align:center; font:30px/30px NissanAGBold, verdana, geneva, sans-serif; text-transform:uppercase; padding:79px 0 0 0}

.login-form {max-width:585px; margin:0 auto; padding:20px 0 0 0}
.text-error {display:none; font-size:24px; line-height:28px; color:#ce2541; text-align:center; margin:12px 0 -9px 0}
.login-form form {margin:0; padding:0}
.login-input {position:relative; background:#fff; margin:22px 0 0 0}
.login-input span {display:none; position:absolute; left:38px; top:19px; color:#999; font:24px/30px NissanAGLight, verdana, geneva, sans-serif; text-transform:uppercase}
.login-input input {position:relative; z-index:2; vertical-align:top; border:1px solid #d8d8d8; width:100%; height:70px; margin:0; padding:19px 38px; outline:none; background:url(../images/blank.gif); box-sizing:border-box; color:#000; font:24px/30px NissanAGLight, verdana, geneva, sans-serif}
.login-input input.error {border-color:#ce2541}
.login-input input.error+label.error+span {color:#ce2541}
.login-input label.error {display:none !important}
.login-checkbox {margin:22px 0 0 0}
.login-checkbox:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.login-checkbox div {float:left; position:relative; padding:0 0 0 49px; color:#999; font:24px/30px NissanAGLight, verdana, geneva, sans-serif}
.login-checkbox div span {position:absolute; left:0; top:0; display:block; overflow:hidden; width:28px; height:28px; background:#fff; border:1px solid #d8d8d8; cursor:pointer}
.login-checkbox div span input {position:absolute; left:-99px; top:-99px}
.login-checkbox div span.checked:after {content:""; display:block; width:20px; height:20px; position:absolute; left:4px; top:4px; background:#d8d8d8}
.login-checkbox label.error {display:none !important}
.login-submit {margin:22px 0 0 0}
.login-submit input {width:100%; vertical-align:top; border:none; background:#ce2541; height:70px; margin:0; padding:0; outline:none; cursor:pointer; color:#fff; text-align:center; text-transform:uppercase; font:24px/70px NissanAGMedium, verdana, geneva, sans-serif; -webkit-appearance:none}
.login-submit input:hover {background-color:#bb1833}
.login-links {font:24px/30px NissanAGLight, verdana, geneva, sans-serif; text-align:center; padding:31px 0 0 0; color:#999}
.login-links img {vertical-align:middle; margin:-6px 14px 0 14px}
.login-form-text {text-align:center; font:24px/28px NissanAGLight, verdana, geneva, sans-serif; color:#999; margin:-3px 0 42px 0}

@media (max-width:800px) {
    .login-form {max-width:none; padding:20px 30px 0 30px}
}

.gallery {font-size:0; line-height:0; letter-spacing:-1px; margin:0 0 0 -28px}
.gallery-item {display:inline-block; vertical-align:top; width:33.33%; box-sizing:border-box; padding:28px 0 0 28px}
.gallery-item-inner {background:#fff; padding:0 0 30px 0}
.gallery-item-photo {position:relative}
.gallery-item-photo img {width:100%}
.gallery-item-icon {position:absolute; right:29px; bottom:-34px; width:68px; height:68px; border-radius:34px; background:#ce2541 no-repeat center}
.gallery-item-icon-live {background-image:url(../images/gallery-item-icon-live.png)}
.gallery-item-icon-off {background-image:url(../images/gallery-item-icon-off.png)}
.gallery-item-icon-fun {background-image:url(../images/gallery-item-icon-fun.png)}
.gallery-item-icon-game {background-image:url(../images/gallery-item-icon-game.png)}
.gallery-item-type {font:18px/20px NissanAGMedium, verdana, geneva, sans-serif; letter-spacing:0; color:#ce2541; padding:20px 35px 0 29px}
.gallery-item-title {font:24px/28px NissanAGBold, verdana, geneva, sans-serif; letter-spacing:0; color:#000; padding:10px 35px 0 29px; text-transform:uppercase}
.gallery-item-title:after {content:""; display:block; width:80px; height:5px; background:#ce2541; margin:17px 0 0 0}
.gallery-item-anonce {font-size:18px; line-height:22px; padding:17px 35px 0 29px; letter-spacing:0}
.gallery-item-ctrl {padding:0 35px 0 29px; color:#999}
.gallery-item-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.gallery-item-ctrl-add {float:left; width:100%}
.gallery-item-rate {float:left; padding:0 0 0 34px; text-decoration:none; height:27px; margin:24px 0 0 0; position:relative; color:#999; font:24px/27px NissanAGMedium, verdana, geneva, sans-serif; letter-spacing:0}
.gallery-item-rate:after {content:""; display:block; width:27px; height:27px; position:absolute; left:0; top:0; background:url(../images/gallery-item-rate.png) no-repeat}
.gallery-item-rate:hover {color:#999}
.gallery-item-rate.active {color:#c71c44}
.gallery-item-rate.active:after {background-position:left -27px}
.gallery-item-rate:hover:after {animation:rate-anim 5s infinite linear}
@keyframes rate-anim {0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.gallery-item-rate span {display:none; position:absolute; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.gallery-item-rate span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.gallery-item-rate:hover span {display:block}
.gallery-item-detail {float:right; font-size:18px; line-height:25px; letter-spacing:0; padding:23px 0 0 0}
.gallery-item-share {float:right; height:25px; border-right:1px solid #999; padding:1px 13px 0 0; margin:25px 14px 0 0}
.gallery-item-share a {display:block; width:21px; height:23px; background:url(../images/gallery-item-share.png); position:relative}
.gallery-item-share a:hover {background-position:left -23px}
.gallery-item-share a span {display:none; position:absolute !important; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.gallery-item-share a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.gallery-item-share a:hover span {display:block}
.gallery-item-profile-status {float:left; font-size:16px; line-height:25px; letter-spacing:0; padding:43px 0 0 0}
.gallery-item-profile-status span {display:inline-block; vertical-align:middle; opacity:.7}
.gallery-item-profile-status strong {display:inline-block; vertical-align:middle; width:1px; height:25px; background:#999; margin:0 7px}
.gallery-item-profile-tools {float:right; line-height:25px; padding:43px 0 0 0; white-space:nowrap}
.gallery-item-profile-tools-share {display:inline-block; vertical-align:middle; height:23px}
.gallery-item-profile-tools-share a {display:block; position:relative; width:21px; height:23px; background:url(../images/gallery-item-share.png)}
.gallery-item-profile-tools-share a:hover {background-position:left -23px}
.gallery-item-profile-tools-edit {display:inline-block; vertical-align:middle; width:21px; height:22px; background:url(../images/gallery-item-profile-tools-edit.png); margin:0 0 0 16px}
.gallery-item-profile-tools-edit:hover {background-position:left -22px}
.gallery-item-profile-tools-delete {display:inline-block; vertical-align:middle; width:23px; height:23px; background:url(../images/gallery-item-profile-tools-delete.png); margin:0 0 0 14px}
.gallery-item-profile-tools-delete:hover {background-position:left -23px}
.gallery-item-profile-tools a {position:relative; text-decoration:none}
.gallery-item-profile-tools a span {display:none; position:absolute !important; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.gallery-item-profile-tools a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.gallery-item-profile-tools a:hover span {display:block}

@media (max-width:1100px) {
    .gallery-item {width:50%}
    .gallery-item-icon {width:104px; height:104px; border-radius:52px; right:40px; bottom:-52px}
    .gallery-item-icon-live {background-image:url(../images/content-menu-live-mobile.png)}
    .gallery-item-icon-off {background-image:url(../images/content-menu-off-mobile.png)}
    .gallery-item-icon-fun {background-image:url(../images/content-menu-fun-mobile.png)}
    .gallery-item-icon-game {background-image:url(../images/content-menu-game-mobile.png)}
    .gallery-item-detail {position:relative}
    .cabinet .gallery-item-detail:before {content:""; display:inline-block; vertical-align:middle; width:1px; height:36px; background:#999; margin:0 36px 0 0}
    .gallery-item-ctrl-add {float:right; width:50px; height:12px; background:url(../images/gallery-item-profile-tools-mobile.png); margin:35px 35px 0 0; cursor:pointer; position:relative}
    .gallery-item-ctrl-add.open:before {content:""; display:block; width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0, 0, 0, .4); z-index:98}
    .gallery-item-ctrl-add-inner {display:none; position:absolute; right:-50px; bottom:43px; width:570px; height:auto; padding:0 20px; background:#fff; border-radius:7px; font-size:34px; line-height:46px; text-align:left; z-index:99}
    .gallery-item-ctrl-add-inner:before {content:""; display:block; width:0; height:0; position:absolute; right:63px; bottom:-12px; border-top:12px solid #fff; border-left:12px solid transparent; border-right:12px solid transparent}
    .gallery-item-ctrl-add.open .gallery-item-ctrl-add-inner {display:block}
    .gallery-item-profile-status {float:none; font-size:28px; line-height:70px; background:#eee; border-radius:7px 7px 0 0; margin:0 -20px; padding:0 20px}
    .gallery-item-profile-tools {float:none; padding:0; line-height:46px}
    .gallery-item-profile-tools a {display:block; background:none; width:auto; height:auto; padding:26px 0 33px 0; border-top:1px solid #d8d8d8}
    .gallery-item-profile-tools a:first-child {border:none}
    .gallery-item-profile-tools-share {display:block; height:auto}
    .gallery-item-profile-tools-share a {border:none; display:block !important}
    .gallery-item-profile-tools-share a:before {content:""; display:inline-block; vertical-align:middle; width:43px; height:46px; background:url(../images/gallery-item-share-mobile.png); margin:0 46px 0 12px}
    .gallery-item-profile-tools .gallery-item-profile-tools-share a {width:auto; height:auto; background:none}
    .gallery-item-profile-tools-edit {display:block; width:auto; height:auto; background:none; margin:0}
    .gallery-item-profile-tools-edit:before {content:""; display:inline-block; vertical-align:middle; width:36px; height:36px; background:url(../images/gallery-item-profile-tools-edit-mobile.png); margin:0 45px 0 19px}
    .gallery-item-profile-tools-delete {display:block; width:auto; height:auto; background:none; margin:0}
    .gallery-item-profile-tools-delete:before {content:""; display:inline-block; vertical-align:middle; width:49px; height:48px; background:url(../images/gallery-item-profile-tools-delete-mobile.png); margin:0 39px 0 12px}
    .gallery-item-profile-tools a span {display:inline-block; vertical-align:middle; font:34px/46px NissanAGRegular, verdana, geneva, sans-serif; position:relative !important; width:auto; height:auto; left:auto; top:auto; margin:0; background:none; color:#000}
    .gallery-item-profile-tools a:hover span {display:inline-block}
    .gallery-item-profile-tools a span:after {display:none}
}

@media (max-width:800px) {
    .gallery-item {width:100%}
}

.pager {padding:73px 0 0 0; margin:0 -70px}
.pager-inner {background:#fff; text-align:center; font:24px/51px NissanAGMedium, verdana, geneva, sans-serif; padding:27px 0 23px 0}
.pager-inner a {color:#ce2541; text-decoration:none; display:inline-block; vertical-align:middle; width:51px; height:51px; border-radius:26px; margin:0 20px; position:relative}
.pager-inner a:hover {background:#bb1833; color:#fff}
.pager-inner a:active,
.pager-inner a.active {background:#ce2541; color:#fff}
.pager-inner span {color:#ce2541; display:inline-block; vertical-align:middle; width:51px; margin:0 20px}
.pager-inner em {display:block; width:11px; height:18px; position:absolute; left:19px; top:17px; background:url(../images/pager-arrows.png)}
.pager-inner .pager-prev:hover em {background-position:left -18px}
.pager-inner .pager-next em {left:22px; background-position:-11px top}
.pager-inner .pager-next:hover em {background-position:-11px -18px}

@media (max-width:1100px) {
    .pager {margin:0; padding:0}
    .pager-inner {background:none; font:36px/115px NissanAGRegular, verdana, geneva, sans-serif; padding:0; height:115px}
    .pager-inner a,
    .pager-inner span {display:none}
    .pager-inner a.pager-prev {display:block; float:left; margin:0 0 0 40px; width:auto; height:115px; border-radius:0; padding:0 0 0 37px; text-decoration:none; color:#ce2541}
    .pager-inner a.pager-prev em {width:15px; height:23px; left:0; top:50%; margin-top:-10px; background:url(../images/pager-arrows-mobile.png)}
    .pager-inner a.pager-prev:after {content:"Назад"}
    .pager-inner a.pager-next {display:block; float:right; margin:0 40px 0 0; width:auto; height:115px; border-radius:0; padding:0 37px 0 0; text-decoration:none; color:#ce2541}
    .pager-inner a.pager-next em {width:15px; height:23px; left:auto; right:0; top:50%; margin-top:-10px; background:url(../images/pager-arrows-mobile.png) no-repeat -15px top}
    .pager-inner a.pager-next:after {content:"Вперед"}
    .pager-inner a:hover {background:none}
    .pager-inner a.pager-prev:hover em {background-position:left top}
    .pager-inner a.pager-next:hover em {background-position:-15px top}
}

.content-menu {padding:63px 0 44px 0; margin:0 0 0 -35px}
.content-menu ul {display:table; width:100%; margin:0; padding:0; list-style:none}
.content-menu li {display:table-cell; width:25%; margin:0; padding:0; border-left:35px solid transparent; position:relative; box-sizing:border-box; vertical-align:top}
.content-menu li a {display:block; background:#fff; color:#000; text-align:center; height:100px; font-size:30px; text-decoration:none; line-height:100px}
.content-menu li a:hover {background:#bb1833; color:#fff}
.content-menu li.active a {background:#ce2541; color:#fff}
.content-menu li span {display:inline-block; vertical-align:middle; margin:0 25px 0 0}
.content-menu-live {width:74px; height:47px; background:url(../images/content-menu-live-active.png)}
.content-menu li a:hover .content-menu-live,
.content-menu li.active .content-menu-live {background:url(../images/content-menu-live.png)}
.content-menu-off {width:53px; height:56px; background:url(../images/content-menu-off-active.png)}
.content-menu li a:hover .content-menu-off,
.content-menu li.active .content-menu-off {background:url(../images/content-menu-off.png)}
.content-menu-fun {width:64px; height:58px; background:url(../images/content-menu-fun-active.png)}
.content-menu li a:hover .content-menu-fun,
.content-menu li.active .content-menu-fun {background:url(../images/content-menu-fun.png)}
.content-menu-game {width:72px; height:43px; background:url(../images/content-menu-game-active.png)}
.content-menu li a:hover .content-menu-game,
.content-menu li.active .content-menu-game {background:url(../images/content-menu-game.png)}

.content-menu li:hover .idea-type-radio-hint {display:block}
.content-menu-live+.idea-type-radio-hint {width:279px; left:0}
.content-menu-live+.idea-type-radio-hint:after {left:54px}
.content-menu-off+.idea-type-radio-hint {width:285px; left:50%; margin-left:-161px}
.content-menu-off+.idea-type-radio-hint:after {left:50%; margin-left:-7px}
.content-menu-fun+.idea-type-radio-hint {width:229px; left:50%; margin-left:-133px}
.content-menu-fun+.idea-type-radio-hint:after {left:50%; margin-left:-7px}
.content-menu-game+.idea-type-radio-hint {width:259px; padding-right:5px; right:0}
.content-menu-game+.idea-type-radio-hint:after {right:54px}

@media (max-width:1200px) {
    .content-menu {padding:0; margin:35px 0 0 0; border:1px solid #eee; background:#fff}
    .content-menu li {border-left:none}
    .content-menu li:before {content:""; display:block; width:1px; height:90px; background:#d8d8d8; position:absolute; left:0; top:10px}
    .content-menu li:first-child:before {display:none}
    .content-menu li a {font-size:24px; height:110px; line-height:28px; position:relative; background:none}
    .content-menu li span {display:block; margin:0 auto}
    .content-menu li span.content-menu-live {width:58px; height:37px; background:url(../images/content-menu-live-active-mobile.png) no-repeat left bottom; padding-top:21px; margin-bottom:10px}
    .content-menu li a:hover span.content-menu-live,
    .content-menu li.active span.content-menu-live {background:url(../images/content-menu-live-mobile.png) no-repeat left bottom}
    .content-menu li span.content-menu-off {width:40px; height:43px; background:url(../images/content-menu-off-active-mobile.png) no-repeat left bottom; padding-top:17px; margin-bottom:8px}
    .content-menu li a:hover span.content-menu-off,
    .content-menu li.active span.content-menu-off {background:url(../images/content-menu-off-mobile.png) no-repeat left bottom}
    .content-menu li span.content-menu-fun {width:50px; height:45px; background:url(../images/content-menu-fun-active-mobile.png) no-repeat left bottom; padding-top:17px; margin-bottom:6px}
    .content-menu li a:hover span.content-menu-fun,
    .content-menu li.active span.content-menu-fun {background:url(../images/content-menu-fun-mobile.png) no-repeat left bottom}
    .content-menu li span.content-menu-game {width:60px; height:37px; background:url(../images/content-menu-game-active-mobile.png) no-repeat left bottom; padding-top:22px; margin-bottom:9px}
    .content-menu li a:hover span.content-menu-game,
    .content-menu li.active span.content-menu-game {background:url(../images/content-menu-game-mobile.png) no-repeat left bottom}
}

.detail {padding:72px 0 0 0}
.detail-inner {background:#fff}
.detail-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-photo {float:left; line-height:0; width:450px; position:relative}
.detail-photo-zoom {display:block; width:36px; height:36px; position:absolute; right:0; bottom:0; background:url(../images/detail-photo-zoom.png)}
.detail-video-zoom {display:block; width:95px; height:95px; position:absolute; left:50%; top:50%; margin:-48px 0 0 -48px; background:url(../images/detail-video-zoom.png)}
.detail-container {margin:0 45px 0 505px}
.detail-content {float:left; width:100%}
.detail-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-icon {float:right; margin:45px 0 0 45px; width:104px; height:104px; background:#ce2541 no-repeat center; border-radius:52px}
.detail-icon-live {background-image:url(../images/content-menu-live.png)}
.detail-icon-off {background-image:url(../images/content-menu-off.png)}
.detail-icon-fun {background-image:url(../images/content-menu-fun.png)}
.detail-icon-game {background-image:url(../images/content-menu-game.png)}
.detail-type {font:28px/32px NissanAGMedium, verdana, geneva, sans-serif; color:#ce2541; padding:50px 0 0 0}
.detail-title {font:48px/57px NissanAGBold, verdana, geneva, sans-serif; color:#000; text-transform:uppercase; padding:14px 0 0 0}
.detail-title:after {content:""; display:block; width:110px; height:5px; background:#ce2541; margin:23px 0 0 0}
.detail-text {max-height:215px; position:relative; overflow:hidden; font-size:24px; line-height:36px; margin:41px 0 0 0}
.detail-text a {color:#157ac5; text-decoration:none}
.detail-text a:hover {color:#c71c44}
.detail-text p {margin:0; padding:36px 0 0 0}
.detail-text p:first-child {padding:0}
.detail-ctrl {padding:0 0 49px 0; color:#999}
.detail-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-ctrl-add {float:left; width:100%}
.detail-rate {float:left; padding:0 0 0 62px; text-decoration:none; height:41px; margin:52px 0 0 0; color:#999; font:37px/41px NissanAGMedium, verdana, geneva, sans-serif; position:relative}
.detail-rate:after {content:""; display:block; width:41px; height:41px; position:absolute; left:0; top:0; background:url(../images/detail-rate.png) no-repeat}
.detail-rate:hover {color:#999}
.detail-rate.active {color:#c71c44}
.detail-rate.active:hover {color:#c71c44}
.detail-rate.active:after {background-position:left -41px}
.detail-rate:hover:after {animation:rate-anim 5s infinite linear}
.detail-rate span {display:none; position:absolute; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.detail-rate span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.detail-rate:hover span {display:block}
.detail-back {float:right; font-size:28px; line-height:32px; padding:60px 0 0 0}
.detail-share {float:right; height:32px; border-right:1px solid #999; padding:0 17px 0 0; margin:60px 22px 0 0}
.detail-share a {display:block; width:29px; height:32px; background:url(../images/detail-share.png); position:relative}
.detail-share a:hover {background-position:left -32px}
.detail-share a span {display:none; position:absolute !important; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.detail-share a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.detail-share a:hover span {display:block}

@media (max-width:1200px) {
    .detail-photo {float:none; width:auto}
    .detail-photo img {width:100%}
    .detail-container {margin:0; padding:0 40px}
    .detail-icon {display:none}
    .detail-text {max-height:none}
}

.cabinet {display:table; width:100%; margin:63px 0 0 0}
.cabinet-side {display:table-cell; vertical-align:top; width:392px; padding:0 20px 0 0}

.cabinet-profile {border:1px solid #eee; background:#fff; padding:30px 0 0 0}
.cabinet-profile-avatar {text-align:center; line-height:0}
.cabinet-profile-avatar img {border-radius:79px}
.cabinet-profile-name {text-align:center; font-size:28px; line-height:32px; padding:19px 0 0 0}
.cabinet-profile-contacts {text-align:center; color:#999; font-size:18px; line-height:24px; padding:6px 60px 35px 60px; position:relative}
.cabinet-profile-contacts p {margin:0; padding:0}
.cabinet-profile-link {display:block; position:absolute; right:24px; bottom:40px; width:24px; height:24px; background:url(../images/cabinet-profile-link.png)}
.cabinet-profile-link:hover {background-position:left -24px}
.cabinet-profile-link span {display:none; position:absolute; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.cabinet-profile-link span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.cabinet-profile-link:hover span {display:block}

.cabinet-ideas {margin:20px 0 0 0; border:1px solid #eee; background:#fff; font-size:24px; line-height:36px}
.cabinet-ideas-header {background:#ababab; color:#fff; text-transform:uppercase; padding:30px 0; line-height:30px; text-align:center}
.cabinet-ideas-header span {display:inline-block; vertical-align:middle}
.cabinet-ideas-header strong {display:inline-block; vertical-align:middle; border-left:1px solid #fff; padding:0 0 0 38px; margin:0 0 0 27px; font-weight:normal; font-family:NissanAGMedium, verdana, geneva, sans-serif}
.cabinet-ideas ul {margin:0 0 -6px 0; padding:9px 30px 0 30px; list-style:none; color:#999}
.cabinet-ideas ul li {margin:0; padding:23px 0 26px 0; border-top:1px solid #eee; width:100%}
.cabinet-ideas ul li:first-child {border-top:none}
.cabinet-ideas ul li:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cabinet-ideas ul li span {float:left; width:283px; padding:0 0 0 9px}
.cabinet-ideas ul li strong {float:left; font-weight:normal}

.cabinet-side-new {padding:20px 0 0 0}
.cabinet-side-new a {display:block; width:100%; height:90px; background:#ce2541; text-align:center; text-decoration:none; text-transform:uppercase; color:#fff; font-size:24px; line-height:90px}
.cabinet-side-new a:hover {background:#bb1833}

.cabinet-inner {display:table-cell; vertical-align:top; border:1px solid #eee; background:#fff; box-sizing:border-box; padding:0 44px 30px 44px}
.cabinet-inner-title {text-align:center; font:24px/36px NissanAGBold, verdana, geneva, sans-serif; text-transform:uppercase; border-bottom:1px solid #d8d8d8; padding:32px 0 29px 0}

@media (max-width:1200px) {
    .cabinet {display:block}
    .cabinet-side {display:block; width:auto; padding:0}
    .cabinet-profile {padding:20px 0}
    .cabinet-profile:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
    .cabinet-profile-avatar {float:left; margin:0 0 0 20px}
    .cabinet-profile-name {margin:0 0 0 210px; text-align:left}
    .cabinet-profile-contacts {margin:0 0 0 210px; text-align:left; padding:6px 60px 0 0}
    .cabinet-profile-link {bottom:0}
    .cabinet-ideas-header {display:none}
    .cabinet-ideas {margin:10px 0 0 0}
    .cabinet-ideas ul {display:table; width:100%; margin:0; padding:0; color:#fff; text-align:center; background:#ababab}
    .cabinet-ideas ul li {display:table-cell; width:33.3%; padding:0; border-top:none; vertical-align:middle; height:130px; position:relative}
    .cabinet-ideas ul li:before {content:""; display:block; width:1px; height:110px; background:#d8d8d8; position:absolute; left:0; top:10px}
    .cabinet-ideas ul li:first-child:before {display:none}
    .cabinet-ideas ul li span {display:block; float:none; width:auto; padding:20px 0 0 0; font-size:24px; line-height:28px}
    .cabinet-ideas ul li strong {display:block; float:none; font-size:46px; line-height:50px; margin:-78px 0 0 0; font-family:NissanAGBold, verdana, geneva, sans-serif}

    .cabinet-inner {display:block; padding:0 15px 60px 15px; margin:10px 0 0 0}
}

.idea-first {padding:181px 0 0 0}
.idea-first-icon {width:104px; height:104px; margin:0 auto; background:url(../images/idea-first-icon.png)}
.idea-first-text {font-size:24px; line-height:36px; text-align:center; padding:47px 0 0 0}
.idea-first-link {text-align:center; padding:47px 0 0 0}
.idea-first-link a {display:inline-block; width:440px; height:70px; background:#ce2541; text-decoration:none; color:#fff; font-size:24px; line-height:70px; text-transform:uppercase}
.idea-first-link a:hover {background:#bb1833}

@media (max-width:1200px) {
    .idea-first {padding:60px 0 0 0}
}

.cabinet-profile-edit:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cabinet-profile-edit .text-error {text-align:left; font-size:20px; line-height:24px; padding:0 0 0 29px; font-family:NissanAGLight, verdana, geneva, sans-serif}
.cabinet-profile-edit-avatar {float:left; width:158px; margin:65px 37px 0 24px; position:relative; line-height:0}
.cabinet-profile-edit-avatar-inner {width:158px; height:158px; border-radius:79px}
.cabinet-profile-edit-avatar-inner img {border-radius:79px}
.cabinet-profile-edit-avatar-menu {display:none; position:absolute; left:0; top:0; width:158px; height:158px; border-radius:79px; background:rgba(0, 0, 0, .5); line-height:158px; text-align:center}
.cabinet-profile-edit-avatar:hover .cabinet-profile-edit-avatar-menu {display:block}
.cabinet-profile-edit-avatar-upload {display:inline-block; vertical-align:middle; width:30px; height:28px; background:url(../images/cabinet-profile-edit-avatar-upload.png); position:relative}
.cabinet-profile-edit-avatar-menu span {display:inline-block; width:1px; height:30px; vertical-align:middle; background:#fff; margin:0 10px}
.cabinet-profile-edit-avatar-delete {display:inline-block; vertical-align:middle; width:31px; height:32px; background:url(../images/cabinet-profile-edit-avatar-delete.png); position:relative}
.cabinet-profile-edit-avatar-upload span,
.cabinet-profile-edit-avatar-delete span {display:none; position:absolute; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.cabinet-profile-edit-avatar-upload span:after,
.cabinet-profile-edit-avatar-delete span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.cabinet-profile-edit-avatar-upload:hover span,
.cabinet-profile-edit-avatar-delete:hover span {display:block}
.cabinet-profile-edit-cols {margin:0 0 0 219px; padding:34px 0 0 0}
.cabinet-profile-edit-col {float:left; width:50%; padding:0 0 0 32px; box-sizing:border-box}
.cabinet-profile-edit-field {padding:36px 0 0 0}
.cabinet-profile-edit-field-label {font:20px/24px NissanAGLight, verdana, geneva, sans-serif; color:#999; padding:0 0 0 5px}
.cabinet-profile-edit-field-input input {border:1px solid #d8d8d8; vertical-align:middle; margin:0; padding:7px 18px; width:100%; height:50px; outline:none; box-sizing:border-box; background:#fff; color:#000; font:24px/36px NissanAGLight, verdana, geneva, sans-serif}
.cabinet-profile-edit-field-input input.error {border-color:#ce2541}
.cabinet-profile-edit-field-input label.error {display:none !important}
.cabinet-profile-edit-submit {padding:32px 0 0 0}
.cabinet-profile-edit-submit input {width:100%; vertical-align:top; border:none; background:#ce2541; height:50px; margin:0; padding:0; outline:none; cursor:pointer; color:#fff; text-align:center; text-transform:uppercase; font:20px/50px NissanAGRegular, verdana, geneva, sans-serif; -webkit-appearance:none}
.cabinet-profile-edit-submit input:hover {background-color:#bb1833}
#newAvaForm{position:absolute; left:-100000px}

@media (max-width:1200px) {
    .cabinet-profile-edit {padding:20px 0 0 0}
    .cabinet-profile-edit-avatar {float:none; margin:0 auto}
    .cabinet-profile-edit-avatar.open:before {content:""; display:block; width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0, 0, 0, .4); z-index:98}
    .cabinet-profile-edit-avatar:hover .cabinet-profile-edit-avatar-menu {display:none}
    .cabinet-profile-edit-avatar-menu {left:50%; top:50%; width:570px; height:auto; padding:0 20px; margin-left:-305px; background:#fff; border-radius:7px; font-size:34px; line-height:46px; text-align:left; z-index:99}
    .cabinet-profile-edit-avatar-menu:before {content:""; display:block; width:0; height:0; position:absolute; left:50%; margin-left:-12px; top:-12px; border-bottom:12px solid #fff; border-left:12px solid transparent; border-right:12px solid transparent}
    .cabinet-profile-edit-avatar.open .cabinet-profile-edit-avatar-menu {display:block}
    .cabinet-profile-edit-avatar-menu > span {display:none}
    .cabinet-profile-edit-avatar-upload {display:block; background:none; width:auto; height:auto; padding:26px 0 33px 0}
    .cabinet-profile-edit-avatar-upload:before {content:""; display:inline-block; vertical-align:middle; width:40px; height:38px; background:url(../images/cabinet-profile-edit-avatar-upload-mobile.png); margin:0 40px 0 27px}
    .cabinet-profile-edit-avatar-upload span {display:inline-block; vertical-align:middle; font:34px/46px NissanAGRegular, verdana, geneva, sans-serif; position:relative; width:auto; height:auto; left:auto; top:auto; margin:0; background:none; color:#000}
    .cabinet-profile-edit-avatar-upload:hover span {display:inline-block}
    .cabinet-profile-edit-avatar-upload span:after {display:none}
    .cabinet-profile-edit-avatar-delete {display:block; background:none; width:auto; height:auto; padding:26px 0 33px 0; border-top:1px solid #d8d8d8}
    .cabinet-profile-edit-avatar-delete:before {content:""; display:inline-block; vertical-align:middle; width:49px; height:48px; background:url(../images/cabinet-profile-edit-avatar-delete-mobile.png); margin:0 37px 0 23px}
    .cabinet-profile-edit-avatar-delete span {display:inline-block; vertical-align:middle; font:34px/46px NissanAGRegular, verdana, geneva, sans-serif; position:relative; width:auto; height:auto; left:auto; top:auto; margin:0; background:none; color:#000}
    .cabinet-profile-edit-avatar-delete:hover span {display:inline-block}
    .cabinet-profile-edit-avatar-delete span:after {display:none}
    .cabinet-profile-edit-cols {margin:0}
    .cabinet-profile-edit-col {float:none; width:auto; padding:0}
}

.cabinet-inner .gallery-item {width:50%}
@media (max-width:1100px) {
    .cabinet-inner .gallery-item {width:100%}
}
.cabinet-inner .gallery-item-inner {border:1px solid #eee; padding:0 0 17px 0}
.cabinet-inner .pager {padding:13px 0 0 0; margin:0}

.cabinet-detail {margin:45px 0 0 0}
.cabinet-detail:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cabinet-detail .detail-photo {width:306px; margin:0 0 0 -1px}
.cabinet-detail .detail-container {margin:0 30px 0 340px}
.cabinet-detail .detail-icon {margin:26px 32px 0 32px; width:68px; height:68px; background:#ce2541 no-repeat center; border-radius:34px}
.cabinet-detail .detail-icon-live {background-image:url(../images/gallery-item-icon-live.png)}
.cabinet-detail .detail-icon-off {background-image:url(../images/gallery-item-icon-off.png)}
.cabinet-detail .detail-icon-active {background-image:url(../images/gallery-item-icon-active.png)}
.cabinet-detail .detail-icon-game {background-image:url(../images/gallery-item-icon-game.png)}
.cabinet-detail .detail-type {font-size:18px; line-height:24px; padding:25px 0 0 0}
.cabinet-detail .detail-title {font-size:24px; line-height:28px; padding:7px 0 0 0}
.cabinet-detail .detail-title:after {width:80px; margin:17px 0 0 0}
.cabinet-detail .detail-text {font-size:18px; line-height:24px}
.cabinet-detail .detail-text p {margin:0; padding:24px 0 0 0}
.cabinet-detail .detail-text p:first-child {padding:0}
.cabinet-detail .detail-ctrl {padding:0}
.cabinet-detail .detail-rate {padding:0 0 0 34px; height:27px; margin:35px 0 0 0; font-size:24px; line-height:27px}
.cabinet-detail .detail-rate:after {width:27px; height:27px; background:url(../images/gallery-item-rate.png) no-repeat}
.cabinet-detail .detail-rate.active {background-position:left -27px; color:#c71c44}
.cabinet-detail .detail-rate.active:after {background-position:left -27px}
.cabinet-detail .detail-back {float:right; font-size:18px; line-height:27px; padding:37px 0 0 0}
.cabinet-detail .gallery-item-profile-status {padding:21px 0 0 0}
.cabinet-detail .gallery-item-profile-tools {float:right; line-height:25px; padding:21px 0 0 0}

@media (max-width:1200px) {
    .cabinet-detail .detail-photo {width:auto}
    .cabinet-detail .detail-container {margin:0}
    .cabinet-detail .detail-back {position:relative}
    .cabinet-detail .detail-back:before {content:""; display:inline-block; vertical-align:middle; width:1px; height:36px; background:#999; margin:0 36px 0 0}
    .cabinet-detail .detail-ctrl-add {float:right; width:50px; height:12px; background:url(../images/gallery-item-profile-tools-mobile.png); margin:45px 35px 0 0; cursor:pointer; position:relative}
    .cabinet-detail .detail-ctrl-add.open:before {content:""; display:block; width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0, 0, 0, .4); z-index:98}
    .cabinet-detail .detail-ctrl-add-inner {display:none; position:absolute; right:-50px; bottom:43px; width:570px; height:auto; padding:0 20px; background:#fff; border-radius:7px; font-size:34px; line-height:46px; text-align:left; z-index:99}
    .cabinet-detail .detail-ctrl-add-inner:before {content:""; display:block; width:0; height:0; position:absolute; right:63px; bottom:-12px; border-top:12px solid #fff; border-left:12px solid transparent; border-right:12px solid transparent}
    .cabinet-detail .detail-ctrl-add.open .detail-ctrl-add-inner {display:block}
    .cabinet-detail .gallery-item-profile-status {padding:0 20px}
    .cabinet-detail .gallery-item-profile-tools {float:none; line-height:46px; padding:0}
}

.idea-edit {padding:45px 0}
.idea-edit form {margin:0; padding:0}

.idea-edit .text-error {text-align:left; font-size:20px; line-height:24px; padding:0 0 29px 5px; font-family:NissanAGLight, verdana, geneva, sans-serif}

.idea-type {margin:0 0 29px -25px}
.idea-type-inner {display:table; width:100%}
.idea-type-radio {display:table-cell; width:25%; border-left:25px solid #fff; box-sizing:border-box; cursor:pointer; background:#eee; position:relative; height:69px; vertical-align:middle; text-align:center; font-size:32px; line-height:36px}
.idea-type-radio input {position:absolute; left:-9999px; top:-9999px}
.idea-type-radio:hover {background:#bb1833; color:#fff}
.idea-type-radio.checked {background:#ce2541; color:#fff}
.idea-type-radio span {display:inline-block; vertical-align:middle; margin:0 12px 6px 0}
.idea-type-live {width:42px; height:27px; background:url(../images/gallery-item-icon-live-active.png)}
.idea-type-radio:hover .idea-type-live,
.idea-type-radio.checked .idea-type-live {background:url(../images/gallery-item-icon-live.png)}
.idea-type-off {width:32px; height:35px; background:url(../images/gallery-item-icon-off-active.png)}
.idea-type-radio:hover .idea-type-off,
.idea-type-radio.checked .idea-type-off {background:url(../images/gallery-item-icon-off.png)}
.idea-type-fun {width:39px; height:35px; background:url(../images/gallery-item-icon-fun-active.png)}
.idea-type-radio:hover .idea-type-fun,
.idea-type-radio.checked .idea-type-fun {background:url(../images/gallery-item-icon-fun.png)}
.idea-type-game {width:42px; height:25px; background:url(../images/gallery-item-icon-game-active.png)}
.idea-type-radio:hover .idea-type-game,
.idea-type-radio.checked .idea-type-game {background:url(../images/gallery-item-icon-game.png)}
.idea-type-radio-hint {display:none; position:absolute; top:-73px; background:#323232; color:#fff; padding:9px 18px 12px 18px; font:18px/22px NissanAGLight, verdana, geneva, sans-serif; text-align:left}
.idea-type-radio-hint:after {content:""; position:absolute; display:block; width:0; height:0; bottom:-6px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.idea-type-radio:hover .idea-type-radio-hint {display:block}
.idea-type-live+.idea-type-radio-hint {width:279px; left:-25px}
.idea-type-live+.idea-type-radio-hint:after {left:54px}
.idea-type-off+.idea-type-radio-hint {width:285px; left:50%; margin-left:-156px}
.idea-type-off+.idea-type-radio-hint:after {left:50%; margin-left:-7px}
.idea-type-fun+.idea-type-radio-hint {width:229px; left:50%; margin-left:-133px}
.idea-type-fun+.idea-type-radio-hint:after {left:50%; margin-left:-7px}
.idea-type-game+.idea-type-radio-hint {width:259px; right:-25px}
.idea-type-game+.idea-type-radio-hint:after {right:54px}

@media (max-width:1600px) {
    .idea-type {margin:0 0 29px 0; border:1px solid #eee; background:#fff}
    .idea-type-radio {border-left:none; height:110px; font-size:24px; line-height:28px; background:none}
    .idea-type-radio:before {content:""; display:block; width:1px; height:90px; background:#d8d8d8; position:absolute; left:0; top:10px}
    .idea-type-radio:first-child:before {display:none}
    .idea-type-radio:hover:before,
    .idea-type-radio.checked:before {display:none}
    .idea-type-radio span {display:block; margin:0 auto}
    .idea-type-radio span.idea-type-live {width:58px; height:37px; background:url(../images/content-menu-live-active-mobile.png) no-repeat left bottom; padding-top:21px; margin-bottom:10px}
    .idea-type-radio:hover span.idea-type-live,
    .idea-type-radio.checked span.idea-type-live {background:url(../images/content-menu-live-mobile.png) no-repeat left bottom}
    .idea-type-radio span.idea-type-off {width:40px; height:43px; background:url(../images/content-menu-off-active-mobile.png) no-repeat left bottom; padding-top:17px; margin-bottom:8px}
    .idea-type-radio:hover span.idea-type-off,
    .idea-type-radio.checked span.idea-type-off {background:url(../images/content-menu-off-mobile.png) no-repeat left bottom}
    .idea-type-radio span.idea-type-fun {width:50px; height:45px; background:url(../images/content-menu-fun-active-mobile.png) no-repeat left bottom; padding-top:17px; margin-bottom:6px}
    .idea-type-radio:hover span.idea-type-fun,
    .idea-type-radio.checked span.idea-type-fun {background:url(../images/content-menu-fun-mobile.png) no-repeat left bottom}
    .idea-type-radio span.idea-type-game {width:60px; height:37px; background:url(../images/content-menu-game-active-mobile.png) no-repeat left bottom; padding-top:22px; margin-bottom:9px}
    .idea-type-radio:hover span.idea-type-game,
    .idea-type-radio.checked span.idea-type-game {background:url(../images/content-menu-game-mobile.png) no-repeat left bottom}
}

.idea-edit-label {font:20px/20px NissanAGLight, verdana, geneva, sans-serif; color:#999; padding:0 0 2px 5px}
.idea-edit-input {padding:0 0 20px 0}
.idea-edit-input input,
.idea-edit-input textarea {border:1px solid #d8d8d8; vertical-align:middle; margin:0; padding:7px 18px; width:100%; height:50px; outline:none; box-sizing:border-box; background:#fff; color:#000; font:24px/36px NissanAGLight, verdana, geneva, sans-serif}
.idea-edit-input textarea {height:200px; overflow:auto; resize:none; font-size:18px; line-height:24px}
.idea-edit-input input.error,
.idea-edit-input textarea.error {border-color:#ce2541}
.idea-edit-input label.error {display:none !important}

.idea-edit-preview {display:none; margin:3px 0 10px 0; position:relative; width:270px; line-height:0; font-size:12px; line-height:20px; line-height:0}
.idea-edit-preview img {width:100%}
.idea-edit-preview a {display:block; width:31px; height:32px; position:absolute; right:13px; top:13px; background:url(../images/cabinet-profile-edit-avatar-delete.png); text-decoration:none}
.idea-edit-preview a span {display:none; position:absolute; left:50%; margin-left:-75px; top:-45px; width:150px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.idea-edit-preview a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.idea-edit-preview a:hover span {display:block}
.idea-edit-preview strong {display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, .5)}
.idea-edit-preview:hover strong {display:block}

.idea-edit-ctrl {width:100%; display:table; margin:11px 0 0 0}
.idea-edit-img {display:table-cell; vertical-align:top; width:50%}
.idea-edit-img-file {width:100%; height:50px; position:relative; overflow:hidden; background:#999; text-align:center; color:#fff; text-transform:uppercase; cursor:pointer; font:20px/50px NissanAGRegular, verdana, geneva, sans-serif}
.idea-edit-img-file:hover {background-color:#bb1833}
.idea-edit-img-file span {display:inline-block; vertical-align:middle; width:22px; height:24px; background:url(../images/idea-edit-img-file.png); margin:0 0 0 32px}
.idea-edit-img-file input {height:999px; position:absolute; top:0; right:0; opacity:0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor:pointer; font-size:999px; background:url(../images/blank.gif)}
.idea-edit-img-hint {text-align:center; font:20px/20px NissanAGLight, verdana, geneva, sans-serif; color:#999; padding:12px 0 0 0}
.idea-edit-submit {display:table-cell; vertical-align:top; width:50%; border-left:23px solid #fff}
.idea-edit-submit input {width:100%; vertical-align:top; border:none; background:#ce2541; height:50px; margin:0; padding:0; outline:none; cursor:pointer; color:#fff; text-align:center; text-transform:uppercase; font:20px/50px NissanAGRegular, verdana, geneva, sans-serif; -webkit-appearance:none}
.idea-edit-submit input:hover {background-color:#bb1833}

.idea-sent {padding:220px 0 0 0}
.idea-sent-icon {width:104px; height:104px; margin:0 auto; background:url(../images/idea-sent-icon.png)}
.idea-sent-title {text-align:center; color:#ce2541; font:24px/36px NissanAGBold, verdana, geneva, sans-serif; text-transform:uppercase; padding:46px 0 0 0}
.idea-sent-text {font-size:24px; line-height:36px; text-align:center; padding:12px 0 0 0}

@media (max-width:1200px) {
    .idea-sent {padding:60px 0 0 0}
}