@font-face {font-family:"NissanAGLight"; src:url("../fonts/nissanaglig_ttf-webfont.eot"); src:url("../fonts/nissanaglig_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanaglig_ttf-webfont.woff") format("woff"), url("../fonts/nissanaglig_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanaglig_ttf-webfont.svg#nissan_aglight") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"NissanAGRegular"; src:url("../fonts/nissanagreg_ttf-webfont.eot"); src:url("../fonts/nissanagreg_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanagreg_ttf-webfont.woff") format("woff"), url("../fonts/nissanagreg_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanagreg_ttf-webfont.svg#nissan_agregular") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"NissanAGBold"; src:url("../fonts/nissanagbol_ttf-webfont.eot"); src:url("../fonts/nissanagbol_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanagbol_ttf-webfont.woff") format("woff"), url("../fonts/nissanagbol_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanagbol_ttf-webfont.svg#nissan_agbold") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"NissanAGMedium"; src:url("../fonts/nissanagmed_ttf-webfont.eot"); src:url("../fonts/nissanagmed_ttf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nissanagmed_ttf-webfont.woff") format("woff"), url("../fonts/nissanagmed_ttf-webfont.ttf") format("truetype"), url("../fonts/nissanagmed_ttf-webfont.svg#nissan_agmedium") format("svg"); font-weight:normal; font-style:normal}

html {height:100%}

body {height:100%; margin:0; padding:0; font:33px/48px NissanAGRegular, verdana, geneva, sans-serif; color:#000; background:#fff}

a {outline:none; color:#999}
a:hover {color:#ce2541}

img {border:none}

.wrapper {padding:0 70px 70px 70px; min-height:100%; background:url(../images/bg.png) no-repeat center; background-size:cover}

.title {text-align:center; font-family:NissanAGBold, verdana, geneva, sans-serif; text-transform:uppercase; padding:60px 0 0 0}
.text {text-align:center; padding:20px 0 0 0}

header {text-align:center; padding:84px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.logo {display:inline-block; vertical-align:middle}

.header-title {display:inline-block; vertical-align:middle; font-size:30px; line-height:30px; letter-spacing:0; margin:0 45px 0 0}
.header-user {display:inline-block; vertical-align:middle; font-size:30px; line-height:30px; letter-spacing:0; margin:0 0 0 45px}
.header-user a {color:#000; text-decoration:none; position:relative; background:url(../images/header-user.png) repeat-x left bottom}
.header-user a span {display:none; position:absolute; left:50%; margin-left:-85px; top:-55px; width:170px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.header-user a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.header-user a:hover {color:#ce2541; background:url(../images/header-user-hover.png) repeat-x left bottom}
.header-user a:hover span {display:block}
.header-logout {display:inline-block; vertical-align:middle; border-left:1px solid #323232; margin:0 0 0 19px; padding:15px 0 0 19px; height:35px}
.header-logout a {display:block; width:27px; height:23px; position:relative; background:url(../images/header-logout.png)}
.header-logout a:hover {background-position:left -23px}
.header-logout a span {display:none; position:absolute; left:50%; margin-left:-60px; top:-58px; width:120px; height:35px; text-align:center; background:#323232; font:18px/35px NissanAGLight, verdana, geneva, sans-serif; color:#fff}
.header-logout a span:after {content:""; display:block; width:0; height:0; position:absolute; left:50%; bottom:-6px; margin:0 0 0 -7px; border-top:6px solid #323232; border-left:7px solid transparent; border-right:7px solid transparent}
.header-logout a:hover span {display:block}

.login-title {text-align:center; font:30px/30px NissanAGBold, verdana, geneva, sans-serif; text-transform:uppercase; padding:79px 0 0 0}

.login-form {max-width:585px; margin:0 auto}
.login-form form {margin:0; padding:21px 0 0 0}
.login-input {position:relative; background:#fff; margin:22px 0 0 0}
.login-input span {display:none; position:absolute; left:38px; top:19px; color:#999; font:24px/30px NissanAGLight, verdana, geneva, sans-serif; text-transform:uppercase}
.login-input input {position:relative; z-index:2; vertical-align:top; border:1px solid #d8d8d8; width:100%; height:70px; margin:0; padding:19px 38px; outline:none; background:url(../images/blank.gif); box-sizing:border-box; color:#000; font:24px/30px NissanAGLight, verdana, geneva, sans-serif}
.login-input input.error {border-color:#ce2541}
.login-input input.error+label.error+span {color:#ce2541}
.login-input label.error {display:none !important}
.login-checkbox {margin:22px 0 0 0}
.login-checkbox:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.login-checkbox div {float:left; position:relative; padding:0 0 0 49px; color:#999; font:24px/30px NissanAGLight, verdana, geneva, sans-serif}
.login-checkbox div span {position:absolute; left:0; top:0; display:block; overflow:hidden; width:28px; height:28px; background:#fff; border:1px solid #d8d8d8; cursor:pointer}
.login-checkbox div span input {position:absolute; left:-99px; top:-99px}
.login-checkbox div span.checked:after {content:""; display:block; width:20px; height:20px; position:absolute; left:4px; top:4px; background:#d8d8d8}
.login-submit {margin:22px 0 0 0}
.login-submit input {width:100%; vertical-align:top; border:none; background:#ce2541; height:70px; margin:0; padding:0; outline:none; cursor:pointer; color:#fff; text-align:center; text-transform:uppercase; font:24px/70px NissanAGMedium, verdana, geneva, sans-serif; -webkit-appearance:none}
.login-submit input:hover {background-color:#bb1833}
.login-links {font:24px/30px NissanAGLight, verdana, geneva, sans-serif; text-align:center; padding:31px 0 0 0; color:#999}
.login-links img {vertical-align:middle; margin:-6px 14px 0 14px}
.login-form-text {text-align:center; font:24px/28px NissanAGLight, verdana, geneva, sans-serif; color:#999}

.gallery {font-size:0; line-height:0; letter-spacing:-1px; margin:0 0 0 -29px}
.gallery-item {display:inline-block; vertical-align:top; background:#fff; width:405px; margin:28px 0 0 28px; padding:0 0 30px 0}
.gallery-item-photo {position:relative}
.gallery-item-icon {position:absolute; right:29px; bottom:-34px; width:68px; height:68px; border-radius:34px; background:#ce2541 no-repeat center}
.gallery-item-icon-live {background-image:url(../images/gallery-item-icon-live.png)}
.gallery-item-icon-off {background-image:url(../images/gallery-item-icon-off.png)}
.gallery-item-icon-fun {background-image:url(../images/gallery-item-icon-fun.png)}
.gallery-item-icon-game {background-image:url(../images/gallery-item-icon-game.png)}
.gallery-item-type {font:18px/20px NissanAGMedium, verdana, geneva, sans-serif; letter-spacing:0; color:#ce2541; padding:20px 35px 0 29px}
.gallery-item-title {font:24px/28px NissanAGBold, verdana, geneva, sans-serif; letter-spacing:0; color:#000; padding:10px 35px 0 29px; text-transform:uppercase}
.gallery-item-title:after {content:""; display:block; width:80px; height:5px; background:#ce2541; margin:17px 0 0 0}
.gallery-item-anonce {font-size:18px; line-height:22px; padding:17px 35px 0 29px; letter-spacing:0}
.gallery-item-ctrl {padding:0 35px 0 29px}
.gallery-item-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.gallery-item-rate {float:left; padding:0 0 0 34px; height:27px; margin:24px 0 0 0; background:url(../images/gallery-item-rate.png) no-repeat; color:#999; font:24px/27px NissanAGMedium, verdana, geneva, sans-serif; letter-spacing:0}
.gallery-item-rate.active {background-position:left -27px; color:#c71c44}
.gallery-item-detail {float:right; font-size:18px; line-height:25px; letter-spacing:0; padding:23px 0 0 0}
.gallery-item-share {float:right; height:25px; border-right:1px solid #999; padding:1px 13px 0 0; margin:25px 14px 0 0}
.gallery-item-share a {display:block; width:21px; height:23px; background:url(../images/gallery-item-share.png)}
.gallery-item-share a:hover {background-position:left -23px}
.gallery-item-profile-status {float:left; font-size:16px; line-height:25px; letter-spacing:0; padding:43px 0 0 0}
.gallery-item-profile-status span {display:inline-block; vertical-align:middle; opacity:.7}
.gallery-item-profile-status strong {display:inline-block; vertical-align:middle; width:1px; height:25px; background:#999; margin:0 7px}
.gallery-item-profile-tools {float:right; line-height:25px; padding:43px 0 0 0; white-space:nowrap}
.gallery-item-profile-tools-share {display:inline-block; vertical-align:middle; width:21px; height:23px; background:url(../images/gallery-item-share.png)}
.gallery-item-profile-tools-share:hover {background-position:left -23px}
.gallery-item-profile-tools-edit {display:inline-block; vertical-align:middle; width:21px; height:22px; background:url(../images/gallery-item-profile-tools-edit.png); margin:0 0 0 16px}
.gallery-item-profile-tools-edit:hover {background-position:left -22px}
.gallery-item-profile-tools-delete {display:inline-block; vertical-align:middle; width:23px; height:23px; background:url(../images/gallery-item-profile-tools-delete.png); margin:0 0 0 14px}
.gallery-item-profile-tools-delete:hover {background-position:left -23px}

.pager {padding:73px 0 0 0; margin:0 -70px}
.pager-inner {background:#fff; text-align:center; font:24px/51px NissanAGMedium, verdana, geneva, sans-serif; padding:27px 0 23px 0}
.pager-inner a {color:#ce2541; text-decoration:none; display:inline-block; vertical-align:middle; width:51px; height:51px; border-radius:26px; margin:0 20px; position:relative}
.pager-inner a:hover {background:#bb1833; color:#fff}
.pager-inner a:active,
.pager-inner a.active {background:#ce2541; color:#fff}
.pager-inner span {color:#ce2541; display:inline-block; vertical-align:middle; width:51px; margin:0 20px}
.pager-inner em {display:block; width:11px; height:18px; position:absolute; left:19px; top:17px; background:url(../images/pager-arrows.png)}
.pager-inner .pager-prev:hover em {background-position:left -18px}
.pager-inner .pager-next em {left:22px; background-position:-11px top}
.pager-inner .pager-next:hover em {background-position:-11px -18px}

.content-menu {padding:63px 0 44px 0; margin:0 0 0 -35px}
.content-menu ul {display:table; width:100%; margin:0; padding:0; list-style:none}
.content-menu li {display:table-cell; width:25%; margin:0; padding:0; border-left:35px solid transparent}
.content-menu li a {display:block; background:#fff; color:#000; text-align:center; height:100px; font-size:30px; text-decoration:none; line-height:100px}
.content-menu li a:hover {background:#bb1833; color:#fff}
.content-menu li.active a {background:#ce2541; color:#fff}
.content-menu li span {display:inline-block; vertical-align:middle; margin:0 25px 0 0}
.content-menu-live {width:74px; height:47px; background:url(../images/content-menu-live-active.png)}
.content-menu li a:hover .content-menu-live,
.content-menu li.active .content-menu-live {background:url(../images/content-menu-live.png)}
.content-menu-off {width:53px; height:56px; background:url(../images/content-menu-off-active.png)}
.content-menu li a:hover .content-menu-off,
.content-menu li.active .content-menu-off {background:url(../images/content-menu-off.png)}
.content-menu-fun {width:64px; height:58px; background:url(../images/content-menu-fun-active.png)}
.content-menu li a:hover .content-menu-fun,
.content-menu li.active .content-menu-fun {background:url(../images/content-menu-fun.png)}
.content-menu-game {width:72px; height:43px; background:url(../images/content-menu-game-active.png)}
.content-menu li a:hover .content-menu-game,
.content-menu li.active .content-menu-game {background:url(../images/content-menu-game.png)}

.detail {padding:72px 0 0 0}
.detail-inner {background:#fff}
.detail-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-photo {float:left; line-height:0; width:450px; position:relative}
.detail-photo-zoom {display:block; width:36px; height:36px; position:absolute; right:0; bottom:0; background:url(../images/detail-photo-zoom.png)}
.detail-video-zoom {display:block; width:95px; height:95px; position:absolute; left:50%; top:50%; margin:-48px 0 0 -48px; background:url(../images/detail-video-zoom.png)}
.detail-container {margin:0 45px 0 505px}
.detail-content {float:left; width:100%}
.detail-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-icon {float:right; margin:45px 0 0 45px; width:104px; height:104px; background:#ce2541 no-repeat center; border-radius:52px}
.detail-icon-live {background-image:url(../images/content-menu-live.png)}
.detail-icon-off {background-image:url(../images/content-menu-off.png)}
.detail-icon-active {background-image:url(../images/content-menu-active.png)}
.detail-icon-game {background-image:url(../images/content-menu-game.png)}
.detail-type {font:28px/32px NissanAGMedium, verdana, geneva, sans-serif; color:#ce2541; padding:50px 0 0 0}
.detail-title {font:48px/57px NissanAGBold, verdana, geneva, sans-serif; color:#000; text-transform:uppercase; padding:14px 0 0 0}
.detail-title:after {content:""; display:block; width:110px; height:5px; background:#ce2541; margin:23px 0 0 0}
.detail-text {max-height:215px; position:relative; overflow:hidden; font-size:24px; line-height:36px; margin:41px 0 0 0}
.detail-text a {color:#157ac5; text-decoration:none}
.detail-text a:hover {color:#c71c44}
.detail-text p {margin:0; padding:36px 0 0 0}
.detail-text p:first-child {padding:0}
.detail-ctrl {padding:0 0 49px 0}
.detail-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-rate {float:left; padding:0 0 0 62px; height:41px; margin:52px 0 0 0; background:url(../images/detail-rate.png) no-repeat; color:#999; font:37px/41px NissanAGMedium, verdana, geneva, sans-serif}
.detail-rate.active {background-position:left -41px; color:#c71c44}
.detail-back {float:right; font-size:28px; line-height:32px; padding:60px 0 0 0}
.detail-share {float:right; height:32px; border-right:1px solid #999; padding:0 17px 0 0; margin:60px 22px 0 0}
.detail-share a {display:block; width:29px; height:32px; background:url(../images/detail-share.png)}
.detail-share a:hover {background-position:left -32px}

.cabinet {display:table; width:100%; margin:63px 0 0 0}
.cabinet-side {display:table-cell; vertical-align:top; width:392px; padding:0 20px 0 0}

.cabinet-profile {border:1px solid #eee; background:#fff; padding:30px 0 0 0}
.cabinet-profile-avatar {text-align:center; line-height:0}
.cabinet-profile-avatar img {border-radius:79px}
.cabinet-profile-name {text-align:center; font-size:28px; line-height:32px; padding:19px 0 0 0}
.cabinet-profile-contacts {text-align:center; color:#999; font-size:18px; line-height:24px; padding:6px 60px 35px 60px; position:relative}
.cabinet-profile-contacts p {margin:0; padding:0}
.cabinet-profile-link {display:block; position:absolute; right:24px; bottom:40px; width:24px; height:24px; background:url(../images/cabinet-profile-link.png)}
.cabinet-profile-link:hover {background-position:left -24px}

.cabinet-ideas {margin:20px 0 0 0; border:1px solid #eee; background:#fff; font-size:24px; line-height:36px}
.cabinet-ideas-header {background:#ababab; color:#fff; text-transform:uppercase; padding:30px 0; line-height:30px; text-align:center}
.cabinet-ideas-header span {display:inline-block; vertical-align:middle}
.cabinet-ideas-header strong {display:inline-block; vertical-align:middle; border-left:1px solid #fff; padding:0 0 0 38px; margin:0 0 0 27px; font-weight:normal; font-family:NissanAGMedium, verdana, geneva, sans-serif}
.cabinet-ideas ul {margin:0 0 -6px 0; padding:9px 30px 0 30px; list-style:none; color:#999}
.cabinet-ideas ul li {margin:0; padding:23px 0 26px 0; border-top:1px solid #eee; width:100%}
.cabinet-ideas ul li:first-child {border-top:none}
.cabinet-ideas ul li:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cabinet-ideas ul li span {float:left; width:283px; padding:0 0 0 9px}
.cabinet-ideas ul li strong {float:left; font-weight:normal}

.cabinet-side-new {padding:20px 0 0 0}
.cabinet-side-new a {display:block; width:100%; height:90px; background:#ce2541; text-align:center; text-decoration:none; text-transform:uppercase; color:#fff; font-size:24px; line-height:90px}
.cabinet-side-new a:hover {background:#bb1833}

.cabinet-inner {display:table-cell; vertical-align:top; border:1px solid #eee; background:#fff; box-sizing:border-box; padding:0 44px}
.cabinet-inner-title {text-align:center; font:24px/36px NissanAGBold, verdana, geneva, sans-serif; text-transform:uppercase; border-bottom:1px solid #d8d8d8; padding:32px 0 29px 0}

.idea-first {padding:181px 0 0 0}
.idea-first-icon {width:104px; height:104px; margin:0 auto; background:url(../images/idea-first-icon.png)}
.idea-first-text {font-size:24px; line-height:36px; text-align:center; padding:47px 0 0 0}
.idea-first-link {text-align:center; padding:47px 0 0 0}
.idea-first-link a {display:inline-block; width:440px; height:70px; background:#ce2541; text-decoration:none; color:#fff; font-size:24px; line-height:70px; text-transform:uppercase}
.idea-first-link a:hover {background:#bb1833}

.cabinet-profile-edit:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cabinet-profile-edit-avatar {float:left; width:158px; margin:65px 37px 0 24px; position:relative; line-height:0}
.cabinet-profile-edit-avatar-inner {width:158px; height:158px; border-radius:79px}
.cabinet-profile-edit-avatar-inner img {border-radius:79px}
.cabinet-profile-edit-avatar-menu {display:none; position:absolute; left:0; top:0; width:158px; height:158px; border-radius:79px; background:rgba(0, 0, 0, .5); line-height:158px; text-align:center}
.cabinet-profile-edit-avatar:hover .cabinet-profile-edit-avatar-menu {display:block}
.cabinet-profile-edit-avatar-upload {display:inline-block; vertical-align:middle; width:30px; height:28px; background:url(../images/cabinet-profile-edit-avatar-upload.png)}
.cabinet-profile-edit-avatar-menu span {display:inline-block; width:1px; height:30px; vertical-align:middle; background:#fff; margin:0 10px}
.cabinet-profile-edit-avatar-delete {display:inline-block; vertical-align:middle; width:31px; height:32px; background:url(../images/cabinet-profile-edit-avatar-delete.png)}
.cabinet-profile-edit-cols {margin:0 0 0 219px; padding:34px 0 0 0}
.cabinet-profile-edit-col {float:left; width:50%; padding:0 0 0 32px; box-sizing:border-box}
.cabinet-profile-edit-field {padding:36px 0 0 0}
.cabinet-profile-edit-field-label {font:20px/24px NissanAGLight, verdana, geneva, sans-serif; color:#999; padding:0 0 0 5px}
.cabinet-profile-edit-field-input input {border:1px solid #d8d8d8; vertical-align:middle; margin:0; padding:0 18px; width:100%; height:50px; outline:none; box-sizing:border-box; background:#fff; color:#000; font:24px/36px NissanAGLight, verdana, geneva, sans-serif}
.cabinet-profile-edit-submit {padding:32px 0 0 0}
.cabinet-profile-edit-submit input {width:100%; vertical-align:top; border:none; background:#ce2541; height:50px; margin:0; padding:0; outline:none; cursor:pointer; color:#fff; text-align:center; text-transform:uppercase; font:20px/50px NissanAGRegular, verdana, geneva, sans-serif; -webkit-appearance:none}
.cabinet-profile-edit-submit input:hover {background-color:#bb1833}

.cabinet-inner .gallery-item {border:1px solid #eee; padding:0 0 17px 0}
.cabinet-inner .pager {padding:13px 0 19px 0}

.cabinet-detail {border:1px solid #eee; margin:45px 0 0 0}
.cabinet-detail:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cabinet-detail .detail-photo {width:306px; margin:0 0 0 -1px}
.cabinet-detail .detail-container {margin:0 30px 0 340px}